{% set classes = [
  'c-filter-modal',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  <form>
    {# Filter by research area #}
    <fieldset>
      <legend class="c-kicker">
        {{ filter_by_research_area.label }}
      </legend>
      {{ filter_by_area }}

    </fieldset>

  </form>
</div>
