// Component: Card

@use '00-config' as *;

$card-accent-border-color: gesso-color(ui, generic, accent) !default;
$card-link-color: inherit;
$card-link-color-hover: gesso-brand(digital-red, base) !default;
$card-meta-color: inherit;
$card-padding: rem(gesso-spacing(2)) !default;

.c-card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow gesso-duration(short) gesso-easing(ease-in-out);
}

.c-card__title {
  @include arrow-link(red);
  margin: 0;

  .c-card:hover &,
  .c-card:focus-within & {
    color: $card-link-color-hover;

    @media (prefers-reduced-motion: no-preference) {
      &::after {
        transform: translateX(rem(6px));
      }
    }
  }

  .c-card--on-dark & {
    @include arrow-link(white);
  }

  .c-card--on-dark:hover &,
  .c-card--on-dark:focus-within & {
    color: gesso-color(text, on-dark);
  }
}

.c-card__link {
  color: inherit;
  text-decoration: none;
}

.c-card__link::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-card__body {
  background: gesso-color(background, site);
  color: gesso-color(text, primary);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $card-padding;

  .c-card--on-dark & {
    background: transparent;
    color: inherit;
  }
}

.c-card__header {
  margin-bottom: rem(gesso-spacing(1.5));
}

.c-card__kicker {
  color: $card-meta-color;
  font-size: rem(gesso-font-size(1));
  font-weight: gesso-font-weight(bold);
  letter-spacing: 1px;
  line-height: gesso-line-height(tight);
  margin-bottom: rem(gesso-spacing(1.5));
  text-transform: uppercase;
}

.c-card__content {
  font-family: gesso-font-family(secondary);
  font-size: rem(gesso-font-size(1));
  line-height: gesso-line-height(loose);
  margin-bottom: rem(gesso-spacing(1.5));
}

.c-card__media {
  order: -1;

  img {
    width: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    overflow: hidden;

    img {
      transition: transform gesso-duration(shortest) gesso-easing(ease-out);
    }

    .c-card:hover &,
    .c-card:focus-within & {
      img {
        transform: scale(1.075);
      }
    }
  }
}

.c-card__footer {
  margin-top: auto;
}

.c-card__tags {
  margin-bottom: rem(gesso-spacing(2));
}

.c-card__readmore {
  text-align: right;
}

.c-card--feature {
  .c-card__media {
    flex-grow: 1;
  }

  @include breakpoint(gesso-breakpoint(desktop)) {
    flex-direction: row;

    .c-card__body {
      max-width: 600px;
      padding: $card-padding 2vw;
    }

    .c-card__media {
      order: initial;
    }
  }
}
