// Component: Select Form Item

@use 'sass:math';
@use '00-config' as *;
@use '../form-item' as *;
$form-select-arrow-size: 20px !default;

select,
.c-form-item__select {
  background: gesso-grayscale(white);
  border: 0;
  border-bottom: 1px solid currentColor;
  border-radius: 0;
  font-size: 14px;
  padding: 16px 12px;

  // Remove inner focus styling on Firefox.
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &:hover,
  &:focus {
    border: 0;
    border-bottom: 1px solid currentColor;
  }
}
