// HTML Element: Universal

// Uncomment to add a set of default transitions to all elements
// * {
//   transition-duration: gesso-duration(short) ;
//   transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
//   transition-timing-function: gesso-easing(ease-in);
// }
@use '00-config' as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  @page {
    margin: 2cm;
  }
}

:root {
  --gesso-header-initial-height: 1px;
  --gesso-header-current-height: 1px;
  --gesso-footer-overlap: 82px;
  --gesso-text-color: #{gesso-color(text, primary)};
  --gesso-link-color: #{gesso-color(text, link)};
  --gesso-link-visited-color: #{gesso-color(text, link-visited)};
  --gesso-link-hover-color: #{gesso-color(text, link-hover)};
  --gesso-link-active-color: #{gesso-color(text, link-active)};
  --gesso-link-underline-color: #{gesso-color(text, link-underline)};
  --gesso-accent-color: #{gesso-color(ui, generic, accent)};
}
