{% set classes = [
  'c-icon-card',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  {% include '@components/animated-icon/animated-icon.twig' with {
    animation: icon,
    color: 'black'
  } %}
  <h3 class="c-icon-card__title"><a href="{{ url }}" class="c-icon-card__link c-arrow-link">{{ card_title }}</a></h3>
  <p class="c-icon-card__description">{{ card_description }}</p>
</div>
