// Layout: Section

@use '00-config' as *;

.l-section:not(.l-section--no-padding) {
  padding-bottom: rem(gesso-spacing(5));
  padding-top: rem(gesso-spacing(5));

  &:last-child {
    padding-bottom: calc(
      #{rem(gesso-spacing(5))} + var(--gesso-footer-overlap)
    );
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    padding-bottom: rem(gesso-spacing(10));
    padding-top: rem(gesso-spacing(10));

    &:last-child {
      padding-bottom: calc(
        #{rem(gesso-spacing(10))} + var(--gesso-footer-overlap)
      );
    }
  }
}

.l-section--no-padding {
  &:last-child {
    padding-bottom: calc(
      #{rem(gesso-spacing(5))} + var(--gesso-footer-overlap)
    );
  }
  @include breakpoint-min(gesso-breakpoint(desktop)) {
    &:last-child {
      padding-bottom: calc(
        #{rem(gesso-spacing(10))} + var(--gesso-footer-overlap)
      );
    }
  }
}

.l-section__title {
  @include responsive-font-size(11);
  color: inherit;

  a {
    @include arrow-link(red);
    color: inherit;
  }
}

.l-section__intro {
  margin-bottom: rem(gesso-spacing(5));

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    margin-bottom: rem(gesso-spacing(7));
  }
}

.l-section__buttons {
  margin-top: rem(gesso-spacing(5));

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    margin-top: rem(gesso-spacing(7));
  }
}

.l-section--dark {
  color: gesso-color(text, on-dark);

  .l-section__title a {
    @include arrow-link(white);
  }
}

.l-section--bg-image {
  background-blend-mode: multiply;
  background-image: linear-gradient(
      to bottom,
      rgba(gesso-grayscale(black), 0.93),
      rgba(0, 0, 0, 0) 407px
    ),
    url('images/backgrounds/Mask-Background.jpg');
  background-position: bottom center;
  background-size: cover;
}

.l-section--purple-black {
  background-image: linear-gradient(
    to bottom,
    gesso-brand(purple, dark),
    gesso-brand(purple, dark) 78%,
    gesso-grayscale(stanford-black)
  );
}

.l-section--blue-green {
  background-image: linear-gradient(
    to bottom,
    gesso-brand(sky, dark),
    gesso-brand(palo-verde, dark)
  );
}

.l-section--cutout {
  background-image: url('images/backgrounds/graphene_03_reverse.svg'),
    linear-gradient(
      to bottom,
      gesso-brand(sky, dark),
      gesso-brand(palo-verde, dark)
    );
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    background-image: url('images/backgrounds/graphene_02_reverse.svg'),
      linear-gradient(
        to bottom,
        gesso-brand(sky, dark),
        gesso-brand(palo-verde, dark)
      );
    background-position: top right, top 11px right 0;
    background-size: auto, cover;
  }
}

.l-section--pattern {
  background-image: url('images/backgrounds/g271.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.l-section--yellow {
  background-color: gesso-brand(illuminating, base);

  .l-section__title a {
    @include arrow-link(black);
  }
}

.l-section--gray-gradient {
  background-image: linear-gradient(
    to bottom,
    gesso-grayscale(white),
    gesso-grayscale(gray-1)
  );
}

.l-section--purple {
  background-color: gesso-brand(purple, dark);
}

.l-section--blue {
  background-color: gesso-brand(lagunita, dark);
}
