// Component: Tag List

@use '00-config' as *;

.c-tag-list {
  @include list-clean();
  display: flex;
  flex-wrap: wrap;
  gap: rem(14px);
  margin: gesso-spacing(2) 0;

  li {
    margin: 0;
  }
}
