// @file
// Component: c-wide-card
@use '00-config' as *;

.c-wide-card {
  @include font-family-secondary;
  @include layout-constrain(rem(gesso-constrain(teaser)), 0, 0);
  font-size: gesso-font-size(2);
  line-height: gesso-line-height(loose);

  + * {
    margin-top: rem(gesso-get-map(gutter-width));
  }

  .l-media__content {
    padding-top: 30px;
  }

  @include breakpoint-max(gesso-breakpoint(tablet), true) {
    .l-media__object {
      aspect-ratio: 387 / 246;
      overflow: hidden;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .l-media__content {
      padding-top: 0;
    }
  }
}
