@use '00-config' as *;

.c-wysiwyg {
  @include display-text-style(body);
  @include layout-constrain(gesso-constrain(sm));

  .l-constrain & {
    padding-left: 0;
    padding-right: 0;
  }

  .l-section__intro & {
    margin-left: 0;
  }
}
