{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{# The class 'view' is necessary because it's used by ajax_view.js in core. #}
{% extends 'views-view.html.twig' %}

{% set no_event_settings = site_settings.settings_for_no_upcoming_events.settings_for_no_upcoming_events %}
{% if no_event_settings.field_image %}
  {% set empty_content %}
    <div class="c-card">
      <div class="c-card__body">
        <div class="c-card__header">
          <h3 class="c-card__title h5">
            <a href="/news-and-events/events" class="c-card__link c-arrow-link">{{ no_event_settings.field_heading }}</a>
          </h3>
        </div>
        <div class="c-card__content">
          {{ no_event_settings.field_body.value|raw }}
        </div>
      </div>
      <div class="c-card__media">
        {{ drupal_field('field_media_image', 'media', no_event_settings.field_image, {type: 'image', settings: {image_style: 'event_card'}})|without('#theme') }}
      </div>
    </div>
  {% endset %}
{% endif %}


{% if not rows %}
  {% set empty %}
    {% include '@layouts/grid/grid.twig' with {
      'grid_content': empty_content,
      'num_of_cols': 2
    } %}
  {% endset %}
{% endif %}
