{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{# The class 'view' is necessary because it's used by ajax_view.js in core. #}
{% extends 'views-view.html.twig' %}

{% if not rows %}
  {% set empty %}
    {% set no_event_settings = site_settings.settings_for_no_upcoming_events.settings_for_no_upcoming_events %}
    {% if no_event_settings.field_image %}
      <div class="c-paragraph c-paragraph--type-image-embed c-paragraph--view-mode-large-image selectionShareable">
        <figure class="c-large__media c-figure" role="group">
          <div class="c-figure__media selectionShareable">
            {{ drupal_field('field_media_image', 'media', no_event_settings.field_image, {type: 'image', settings: {image_style: 'event_card'}})|without('#theme') }}
          </div>
        </figure>
      </div>
    {% endif %}
  {% endset %}
{% endif %}
