// @file
// Component: c-topic-grid
@use '00-config' as *;
$gutter: 2%;

.c-topic-grid {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.c-topic-grid__item {
  display: block;
  float: left;

  .c-overlay-link,
  img {
    width: 100%;
  }
}

.c-topic-grid__item,
.c-topic-grid__sizer {
  width: 100%;
}

.c-topic-grid__gutter {
  width: $gutter;
}

@include breakpoint(gesso-breakpoint(tablet)) {
  .c-topic-grid__item,
  .c-topic-grid__sizer {
    width: 48%;
  }

  .c-topic-grid__item--width2 {
    width: 98%;
  }
}

@include breakpoint(gesso-breakpoint(desktop)) {
  .c-topic-grid__item,
  .c-topic-grid__sizer {
    width: 31%;
  }

  .c-topic-grid__item--width2 {
    width: 64%;
  }
}
