{% set classes = [
  'c-topic-grid',
  modifier_classes ? modifier_classes : ''
] %}

<ul {{ add_attributes({ class: classes } ) }}>
  {% for item in items %}
    <li class="grid-item">
      {% include '@components/overlay-link/overlay-link.twig' with {
        image: item.image,
        label: item.title,
        kicker: 'Tagged in',
        title: item.title,
      } %}
    </li>
  {% endfor %}
</ul>
