// @file
// Component: c-kicker

@use '00-config' as *;

.c-kicker {
  font-size: rem(gesso-font-size(1));
  font-weight: gesso-font-weight(bold);
  letter-spacing: 1px;
  text-transform: uppercase;

  + * {
    margin-top: 0;
  }
}

.c-kicker--big {
  font-size: rem(gesso-font-size(2));
}
